#serversContainer {
    background-color: rgb(32,34,37);
    width: 64px;
    min-width: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 12px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-left: 4px;
}

.singleServer {
    text-decoration: none;
    margin-bottom: 12px;
}

.serverIcon {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: grey;
    background-size: cover;
    background-position: center;
    z-index: 1;
    transition: border-radius 0.3s ease-in-out;
}

.noIconServer {
    background-color: rgb(54,57,63);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    color: rgb(220,221,222);
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.2s ease-in-out;
}

.serverIcon:hover, .noIconServer:hover {
    border-radius: 30%;
}

.noIconServer:hover {
    background-color: rgb(88,101,242);
    color: white;
}

.serverInfo {
    position: relative;
}

#serverNameHover {
    visibility: hidden;
    position: fixed;
    left: 71px;
    text-decoration: none;
    color: white;
    padding: 7px;
    background-color: rgb(24,25,28);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    min-width: 100px;
    width: fit-content;
    text-align: center;
}

.serverIcon:hover + #serverNameHover, .noIconServer:hover + #serverNameHover{
    visibility: visible;
}

#addServerButton, #guildDiscoveryButton {
    cursor: pointer;
    color: rgb(59,165,93);
    margin-bottom: 12px;
}

#addServerButton:hover, #guildDiscoveryButton:hover {
    background-color: rgb(59,165,93);
    color: white;
}

#addServerFormContainer {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#addServerFormContainer h3 {
    color: black;
    font-size: 27px;
    margin-top: 0;
    font-family: "Kanit", sans-serif;
}

#addServerFormContainer h5 {
    color: rgb(79,86,96);
    font-weight: 200;
    font-size: 15px;
    width: 400px;
}

.addChannelInput .addServerLabel {
    color: rgb(79,86,96);
    font-size: 13px;
    margin-bottom: 3px;
}

.addChannelInput .addServerInput {
    margin-bottom: 14px;
    background-color: rgb(252,252,252);
    border-radius: 2px;
    border: 1px solid rgb(200,201,204);
    color: black;
}

.addChannelInput .addServerInput:focus {
    border: 1px solid rgb(101, 101, 236);
}

#addServerButtons {
    justify-content: space-between;
}

#serverChannel {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    color: black;
    margin-right: 10px;
    font-size: 14px;
}

.createServer {
    background-color: rgb(167,174,245);
    color: rgb(250,250,251);
    padding: 10px 15px;
    border: none;
    font: inherit;
    cursor: not-allowed;
    padding: 8px;
    font-size: 14px;
    border-radius: 3px;
}

#nowCanCreate {
    background-color: rgb(88,101,242);
    color: white;
    cursor: pointer;
}

.activeServerIndicator {
    position: absolute;
    top: 18px;
    left: -16px;
    text-decoration: none;
    background-color: white;
    border-radius: 50%;
    width: 9px;
    height: 9px;
    transition: top 0.2s linear;
    transition: height 0.3s linear;
}

#noShow {
    visibility: hidden;
}

.selectedServer .serverInfo div:first-of-type {
    border-radius: 30%;
    background-color: rgb(88,101,242);
}

.selectedServer .serverInfo .activeServerIndicator {
    height: 40px;
    border-radius: 6px;
    top: 2px;
}

.selectedServer #noShow {
    visibility: visible;
}

.selectedServer #addServerButton, .selectedServer #guildDiscoveryButton {
    background-color: rgb(59,165,93);
    color: white;
}
