.channelContainer {
    background-color: rgb(47,49,54);
    width: fit-content;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

.channelNameHolder {
    width: 225px;
    padding: 5px;
    border-radius: 5px;
}

.channelNameHolder:hover {
    background-color: rgb(58,60,67);
}

.channelNameHolder:hover .channelName {
    color: rgb(255,255,255);
}

.textChannelHeaderContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 225px;
    margin: 0;
}

.textChannelHeaderContainer div {
    color: rgb(185, 187, 190);
    cursor: pointer;
}

.serverNameContainer {
    width: 225px;
    border-bottom: 1px solid black;
    margin-bottom:  10px;
}

.serverName {
    color: rgb(255,255,255)
}

.textChannels {
    color: rgb(142,146,151);
    margin: 5px 0
}

.channelList a {
    text-decoration: none;
}

.channelName {
    color: rgb(142,146,151);
    margin: 0;
    width: fit-content;
    max-width: 200px;
    white-space: nowrap;
    text-decoration: none;
}

.addModal {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: rgba(68, 68, 68, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.addChannelFormContainer {
    width: 420px;
    background-color: rgb(54,57,63);
    padding: 20px;
    border-radius: 5px;
}

.addChannelFormContainer h3 {
    text-align: center;
    color: white;
    margin-bottom: 5px;
}

.addChannelFormContainer h5 {
    text-align: center;
    color: rgb(185,187,190);
    margin: 0;
    margin-bottom: 20px;
}

.addChannelInput {
    display: flex;
    flex-direction: column;
}

.addChannelInput label {
    color: rgb(220,221,222);
    font-size: 14px;
    margin-bottom: 10px;
}

.addChannelInput input {
    background-color: rgb(48,51,57);
    border: 1px solid black;
    outline: none;
    font-size: 17px;
    padding: 4px;
    color: rgb(220,221,222);
    margin-bottom: 20px;
}

.addChannelInput input:focus {
    border: 1px solid rgb(102, 189, 255);
}

.addChannelButtons {
    display: flex;
    justify-content: flex-end;
}

#cancelChannel {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    color: rgb(220,221,222);
    margin-right: 10px;
    font-size: 14px;
}

.createChannel {
    background-color: rgb(67,75,148);
    border: none;
    border-radius: 3px;
    padding: 0;
    font: inherit;
    cursor: not-allowed;
    padding: 8px;
    color: rgb(151,152,154);
    font-size: 14px;
}

#createChannel {
    background-color: rgb(88,101,242);
    color: rgb(241,242,254);
    cursor: pointer;
}
