.modalBackground{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(54,57, 63);
    z-index: 2;
}
.closeProfile{
    position: absolute;
    top: 20px;
    right: 25px;
    transform: scale(3);
    color: white;
    transition: .1s;
}

.closeProfile:hover{
    cursor: pointer;
    transform: scale(3.5);
}

.profileModalMain{
    position: absolute;
    /* top: 100px; */
    /* left: 100px; */
    top: 70px;
    left: 35%;
    z-index: 1;
    width: 600px;
    height: 420px;
    border-radius: 10px;
    background-color: rgb(32,34, 37);
    box-sizing: border-box;
}


.profileModalTop{
    background-color: rgb(115, 100, 82);
    z-index: 2;
    width: 600px;
    height: 120px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.profileModalPhoto{
    border-radius: 50%;
    background-color: rgb(32,34, 37);
    position: relative;
    padding: 7px;
    bottom: 10px;

}

.profielModalMiddle ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    height: 70px;
}

.profileModalUsername{
    color: white;
    position: relative;
    bottom: 5px;
    left: 10px;
    font-size: 25px;
    font-weight: 400;
}


.profileModalBottom{
    background-color: rgb(47, 49, 54);
    width: 570px;
    height: 190px;
    position: relative;
    left: 15px;
    bottom: 40px;
    box-sizing: border-box;
    border-radius: 5px;
    color: white;
}


.modalItems li{
    list-style: none;
}

.modalItems li ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 15px 0px 15px;
    align-items: center;
}
.modalItems{
    padding: 0px;
}
#editButton p{
    width: 50px;
    height: 25px;
    background-color: rgb(79, 84, 92);
    color: white;
    box-shadow: none;
    outline: none;
    text-align: center;
    padding-top: 7px;
    transition: .1s;
}

#editButton p:hover{
    cursor: pointer;
    background-color: rgb(129, 131, 133);

}


#modalData > p{
    margin: 5px;
}

.accountRemoval{
    position: absolute;
    left: 35%;
    bottom: 5px;
    list-style: none;
    color: lightgray;
    display: flex;
    flex-direction: row;
    width: 600px;
    justify-content: space-around;
    align-items: center;
    border: solid 1px red;
}

.deleteAccount{
    border: solid 1px red;
    color: red;
    padding: 15px;
}

.deleteAccount:hover{
    cursor: pointer;
    background-color: red;
    color: white;
}

.logoutButton{
    position: relative;
    left: 400px;
    bottom: 45px;
    cursor: pointer;
    width: 60px;
    padding: 15px 30px;
    background-color: rgb(115, 100, 82);
    color: white;
    border-radius: 15px;
    margin: 0px;
}

.deleteModal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 500px;
    height: 370px;
    z-index: 3;
    position: absolute;
    left: 35%;
    top: 20%;
    box-shadow: 0 0 0 70vmax rgba(0,0,0,.6);
    background-color: rgb(32,34, 37);
}


.deleteTitleMain{
    color: white;
    font-size: 20px;
    margin: 0px;
    position: relative;
    left: 15px;
    font-size: 25px;

}
.deleteTitleSub{
    background-color: rgb(250, 166, 26);
    color: white;
    font-size: 20px;
    margin: 15px;
    padding: 10px;
    border-radius: 15px;
}

.deleteModal ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 400px;
    padding: 0px;
}

.deleteModal ul li{
    border: solid 1px black;
    width: 100px;
    border-radius: 25px;
    text-align: center;
    cursor: pointer;
    color: white;
}

.deleteModalMiddle{
    width: 470px;
}

.deleteModalMiddle p{
    color: white;
}
.deleteModalMiddle input{
    width: 93%;
    height: 10px;
    background-color: rgb(27, 29, 32);
    color: white;
    outline: none;
    border: none;
    padding: 15px;
    font-size: 15px;
}

.deleteModalBottom{
    display: flex;
    width: 200px;
    justify-content: space-between;
    position: relative;
    left: 140px;
    color: white;
    align-items: center;
}

.deleteModalBottom p{
    cursor: pointer;
}

.confirmDelete{
    padding: 9px;
    background-color: rgb(80, 101, 242);
    border-radius: 5px;
}

.cancelDelete:hover{
    text-decoration: underline;
}
