.mainSearchContent {
    flex-grow: 1;
    background-color: rgb(54,57,63);
    padding: 25px;
}

.topSearchContent {
    width: 100%;
    height: 0;
    padding-top: 31.184%;
    max-width: 100%;
    background-image: url("https://res.cloudinary.com/dt8q1ngxj/image/upload/v1636571660/Discuss/guildDiscovery_joyfnj.png");
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 11px;
}
