.mainSearchContent {
    flex-grow: 1;
    background-color: rgb(54,57,63);
    padding: 28px;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: scroll;
}

.topSearchBG {
    width: 100%;
    min-height: 286px;
    max-height: 375px;
    border-radius: 11px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchBGImage {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    border-radius: 10px;
    z-index: 1;
}

.topSearchContent {
    z-index: 2;
    position: relative;
    width: fit-content;
    margin: 8vw auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topSearchContent h3 {
    font-size: 25px;
    color: white;
    margin: 0;
}

.topSearchContent h5 {
    font-size: 16px;
    font-weight: 200;
    color: white;
    margin: 7px 0 14px 0;
}

.searchGuildForm {
    max-width: 540px;
    min-width: 350px;
    width: 35vw;
    background-color: white;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-radius: 3px;
}

.searchInput {
    flex-grow:1;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    border-radius: 3px;
}

.searchCompassButton {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
    color: rgb(150,153,157);
    margin-right: 10px;
}

.searchGuildForm:focus-within {
    outline: solid rgb(191, 176, 255);
}

.featuredContainer h4 {
    color: white;
    font-size: 20px;
    font-weight: lighter;
}

.serverResultsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.topResultsBar {
    display: flex;
    align-items: center;
    color: rgb(185,187,190);
    font-weight: 100;
    font-size: 23px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

.backArrow:hover {
    color: white;
    cursor: pointer;
}

.topResultsBar h3 {
    font-size: 23px;
    margin: 0;
    margin-left: 30px;
}

#searchAgainForm {
    width: 720px;
    max-width: 720px;
    background-color: rgb(79,84,92);
    padding: 5px;
    margin-bottom: 35px;
}

#searchAgainInput {
    background-color: rgb(79,84,92);
    color: rgb(220,221,222);
}

#searchAgainForm:focus-within {
    outline: 1px solid rgb(91, 91, 218);
}

.noResultsContainer {
    width: 730px;
    height: 394px;
    background-color: rgb(47,49,54);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.noResultsContainer img {
    width: 330px;
    height: auto;
}

.noResultsContainer h5 {
    color: white;
    font-size: 30px;
    margin: 20px 0 10px 0;
}

.noResultsContainer h6 {
    color: rgb(132,134,138);
    font-size: 15px;
    margin: 10px 0;
    font-weight: lighter;
}

.serverActualResultsContainer {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 1580px) {
    .featuredContainer h4 {
        margin-top: 120px;
    }
  }
