.flexContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    width: 50vw;
}

.channel-name {
    width: 100%;
    height: 70px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: flex-start;
    align-items:center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(54,57,63);
    z-index: 1;
}

.hashtag{
    padding-right: 6px;
    padding-left: 6px;
}

.messages-div {
    display: flex;
    flex-direction: column;
    height: 85vh;
    width: calc(100% - 5px);
    color: rgb(220, 219, 212);
    font-family: monospace;
    font-size: 15px;
    overflow-y: auto;
    overflow-x: hidden;
}

.temp {
    margin-right: 15px;
    border-radius: 50px;
}

.user-time {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.time {
    font-size: 11px;
    color: rgb(105, 110, 125);
    padding-left: 10px;
}

.gen-messages {
    width: 65vw ;
}

.gen-msg-box {
    display: flex;
    flex-direction: row;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: calc(100% - 5px);
}

.messageNameHolder {
    width:100%
}

.owner-msg-box {
    display: flex;
    flex-direction: row;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: calc(100% - 5px);
}

.messgaeNameHolder {
    width: calc(100% - 5px);
}

.gen-msg-box:hover {
    background-color: rgb(50, 53, 59);
}

.owner-messages {
    display: flex;
    flex-direction: row;
    width: 95%;
    justify-content: space-between;
}

.owner-msg-box:hover {
    background-color: rgb(50, 53, 59);
}

.own-msg-test {
    width: 100%;
}

.message-text {
    overflow-wrap:break-word

}

.editMessageIconContainer {
    visibility: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 80px;

}

#editIcons {
    color:rgb(184, 186, 189);
    font-size: 17px;

}

.editMessageIconContainer > *{
    padding-left: 10px;
    width: 20px;
    height: 20px;
    background-color: rgb(51,54,59);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
}

.editMessageIconContainer > *:hover {
    background-color: rgb(55,59,65);
}

.editMessageIconContainer > *:hover .fas {
    color:rgb(220, 221, 222)
}

.owner-msg-box:hover .editMessageIconContainer {
    visibility: visible;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 10px;
}

.editMessageIcons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 40px;
    padding-right: 10px;
}

.edit-input {
    background-color: rgb(64, 68, 75);
    border: 0px solid gray;
    width: 95%;
    border-radius: 5px;
    outline-width: 0;
    color: rgb(220, 219, 212);
    font-family: monospace;
    font-size: 14px;
    padding-left: 10px;
    overflow:visible
}

.edit-buttons > * {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	cursor: pointer;
	outline: inherit;
    font-family: monospace;
    font-size: 12px;
}
.edit-hyper{
    color: rgb(39,149,238)
}

.messageForm {
    width: 100%;
    height: 100%;
}

.addMessageContainer {
    width: 100%;
    height: 35px;
    margin-bottom: 25px;
    margin-top: 10px;
}
.comment-input {
    background-color: rgb(64, 68, 75);
    border: 0px solid gray;
    width: 95%;
    height: 100%;
    margin-left: 2%;
    border-radius: 5px;
    outline-width: 0;
    color: rgb(220, 219, 212);
    font-family: monospace;
    font-size: 14px;
    padding-left: 10px;
    overflow:visible

}

.comment-input:focus { color: rgb(220, 219, 212) }

.messages-and-input {
    display: flex;
    flex-direction: column;
    width: calc(100% - 200px);
    flex-grow: 1;
}

/* .messages-component-container {
    position: absolute;
    top: 70px;
    height: calc(100vh - 70px);
} */

.messagesAndMembers {
    display: flex;
    flex-direction: row;
}
