.membersTab{
    display: flex;
    flex-direction: column;
    border-left: 2px black solid;
    width: 200px;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(47,49,54);
    overflow-y: scroll;
    overflow-x: hidden;
}

.membersTitle{
    position: relative;
    left: 19px;
    color: gray;
}

.membersTab ul{
    list-style: none;
}

.membersTab ul li{
    cursor: pointer;
    display: flex;
    position: relative;
    right: 40px;
    width: 200px;
    height: 50px;
    bottom: 15px;
    cursor: default;

}
.membersTab ul li:hover{
    background-color: rgb(49, 49, 54);

}

.membersTab ul li img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: relative;
    left: 20px;
    top: 5px
}

.memberActive{
    transform: scale(0.6);
    position: relative;
    left: 2px;
    top: 25px;
    background-color: rgb(54,57,63);
    height: 16px;
    border-radius: 50%;
    border: solid 3px rgb(54,57,63);
}

.memberUsername{
    position: relative;
    left: 10px;
    bottom: 5px;
    color: gray;
    font-size: 18px;
}
